//edw rendarei ta accordions
<template>
    <div>
        <h1>Add Accordion</h1>
        <div>
            <!-- <div>
				<input
					type="text"
					name="toDoList"
					id="toDo"
					class="my_input input is-primary is-rounded mt-4 is-small"
					v-model="myinput"
					placeholder="Add text here"
					:disabled="currentSelection"
				/>
			</div>-->
            <div>
                <button
                    class="button is-primary is-outlined is-rounded mt-4"
                    value="add"
                    @click="addElement"
                >
                    Add
                </button>
                <button
                    class="button is-danger is-outlined is-rounded ml-4 mt-4"
                    @click="(accordions = []), (currentSelection = null)"
                >
                    delete all
                </button>
            </div>
        </div>
        <div v-if="accordions.length">
            <h1 class="mt-4">Accordions:</h1>
            <section class="list">
                <div
                    v-for="(accordion, index) in accordions"
                    :key="accordion.id"
                >
                    <div v-if="!currentSelection" class="list_item mt-4">
                        <p class="ml-4 mt-4" for="list_item">
                            {{ accordion.todoTitle }}
                        </p>
                        <!-- @click="accordion.todoIsOpen = !accordion.todoIsOpen" -->
                        <button
                            @click="handleEdit(index)"
                            class="button is-info is-outlined is-rounded ml-4 mt-2"
                        >
                            <i class="fas fa-edit is-large"></i>
                        </button>
                    </div>
                    <div v-else>
                        <div v-if="accordion.todoIsOpen" class="edit">
                            <input
                                class="my-4 ml-4 input is-primary is-rounded is-small"
                                name="list_item"
                                v-model="accordion.todoTitle"
                                :disabled="accordion.isTodoDone"
                            />
                            <label class="ml-4 mt-4">
                                Title:
                                <input
                                    class="input my-4"
                                    name="list_item_status"
                                    type="textarea"
                                    v-model="accordion.accordionTitle"
                                />
                            </label>
                            <label class="ml-4 mt-4">
                                Content:
                                <input
                                    class="input my-4"
                                    name="list_item_status"
                                    type="textarea"
                                    v-model="accordion.accordionContent"
                                />
                            </label>
                            <label class="ml-4 mt-4">
                                Image:
                                <input
                                    class="input my-4"
                                    name="list_item_status"
                                    type="text"
                                    v-model="accordion.accordionImage"
                                />
                            </label>
                            <br />
                            <button
                                class="button is-info is-outlined is-rounded my-4 ml-4"
                                @click="handleBack(index)"
                            >
                                Back
                            </button>
                            <button
                                class="button is-danger is-outlined is-rounded my-4 ml-4"
                                @click="onDelete(index)"
                            >
                                delete
                            </button>
                        </div>
                    </div>
                    <!-- </div>  -->
                </div>
            </section>
        </div>
        <pre>
			{{ accordions }}
		</pre
        >
    </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
export default {
    name: "app",
    data() {
        return {
            myinput: null,
            accordions: [],
            checked: false,
            hover: false,
            filter: null,
            currentSelection: null,
        };
    },
    methods: {
        addElement: function() {
            this.show = true;
            this.accordions.push({
                id: "accordion_" + uuidv4(),
                accordionTitle: null,
                accordionContent: null,
                accordionImage: null,
            });
        },
        handleBack: function(index) {
            this.currentSelection = null;
            this.accordions[index].todoIsOpen = false;
        },
        handleEdit: function(index) {
            if (!this.currentSelection) {
                this.currentSelection = this.accordions[index];
            } else {
                this.currentSelection = null;
            }
            this.accordions[index].todoIsOpen = !this.accordions[index]
                .todoIsOpen;
        },
        console: function() {
            console.log("10");
            this.otherconsole();
        },
        otherconsole: function() {
            console.log("20");
        },
        onDelete: function(index) {
            this.accordions.splice(index, 1);
            this.currentSelection = null;
        },
    },
};
</script>

<style scoped>
.active {
    cursor: pointer;
}
.doneTaskClass {
    text-decoration: line-through;
    color: gray;
}
.list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.list_item {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.edit {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: left;
}
</style>
