<template>
    <form class id="app" method="post">
        <section class="hero is-primary columns">
            <div class="hero-body mt-4">
                <div class="container">
                    <h1 class="title">Cats</h1>
                </div>
            </div>
        </section>
        <div class>
            <div class="card">
                <div class="content">
                    <div class="mt-1">
                        <label for="catName">Cat's Name:</label>
                        <input
                            type="text"
                            id="catName"
                            name="catName"
                            v-model="field.catName"
                            placeholder="Cat's Name"
                            class="ml-1"
                            required
                        />
                    </div>
                    <div>You have those cats: {{ cats }}</div>
                    <footer class="card-footer mt-2">
                        <div class="card-footer-item">
                            <button @click.prevent="handleAddCat" class="btn">+</button>
                            <button
                                @click.prevent="handleAllCats"
                                class="btn"
                            >How Many Cats Do I Have?</button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "cat",

    data() {
        return {
            field: {
                catName: null,
                cats: null,
            },
        };
    },

    computed: {
        cats: function() {
            return this.$store.state.cat;
        },
    },
    methods: {
        ...mapActions("cat", { addCat: "ADD_CAT_ACTION" }),
        async handleAddCat() {
            try {
                let message = await this.addCat({
                    cat: this.field.catName,
                });
                console.log(message);
            } catch (error) {
                console.log(error);
                this.$alert("fail");
            } finally {
                console.log("finally");
            }
        },
        ...mapActions("cat", { allCats: "ALL_CATS_ACTION" }),
        async handleAllCats() {
            console.log("!!!!!!!!!!!CATS!!!!!!!!!!!");
            try {
                this.cats = await this.allCats();
            } catch (error) {
                console.log(error);
            } finally {
                console.log("finally");
            }
        },
    },
};
</script>

<style scoped>
.active {
    cursor: pointer;
}
.blueEyeClass {
    color: blue;
}
.eye:hover {
    cursor: pointer;
}
.eye {
    margin-left: -25px;
}
.btn:hover {
    cursor: pointer;
}
</style>
