<template>
    <div class="login">
        <img class="express_image" alt="Vue logo" src="../assets/logo.png" />
        <Form msg="Login Page" />
    </div>
</template>

<script>
// @ is an alias to /src
import Form from "@/components/Form.vue";

export default {
    name: "Login",
    components: {
        Form,
    },
};
</script>

<style scoped>
.express_image {
    width: 40%;
    margin-bottom: 10px;
}
</style>
