<template>
    <form class id="app" method="post">
        <section class="hero is-primary columns">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Sign Up Form</h1>
                </div>
            </div>
        </section>
        <div class>
            <div class="card">
                <div class="content">
                    <div class>
                        <label for="username">Username:</label>
                        <input
                            class="ml-1"
                            type="text"
                            id="username"
                            name="username"
                            v-model="field.username"
                            placeholder="Username"
                            required
                        />
                    </div>
                    <div class="mt-1">
                        <label for="firstName">First Name:</label>
                        <input
                            class="ml-1"
                            type="text"
                            id="firstName"
                            name="firstName"
                            v-model="field.first_name"
                            placeholder="First Name"
                            required
                        />
                    </div>
                    <div class="mt-1">
                        <label for="password">Password:</label>
                        <input
                            class="ml-1"
                            :type="passwordFieldType"
                            id="password"
                            v-model="field.password"
                            placeholder="Password"
                            required
                        />
                    </div>
                    <div class="mt-1">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input
                            class="ml-1"
                            :type="passwordFieldType"
                            id="confirmPassword"
                            v-model="field.confirm_password"
                            placeholder="Confirm Password"
                            required
                        />
                    </div>
                    <div class="mt-1">
                        <label for="role_select">Choose a role:</label>
                        <!-- <select v-model="field.role" class="ml-1" name="role" id="role_select">
							<option value="admin">Admin</option>
							<option value="tester">Tester</option>
						</select>-->
                        <select class="ml-1" name="role" id="role_select">
                            <option value="admin" selected>Admin</option>
                            <option value="tester">Tester</option>
                        </select>
                    </div>

                    <div class="mt-1">
                        <label for="agree">I Agree to Terms</label>
                        <input
                            class="ml-1"
                            type="checkbox"
                            name="agree"
                            id="agree"
                            @mouseover="hover = true"
                            @mouseleave="hover = false"
                            :class="{ active: hover }"
                            checked
                        />
                        <!-- <input
							class="ml-1"
							type="checkbox"
							name="agree"
							id="agree"
							@mouseover="hover = true"
							@mouseleave="hover = false"
							:class="{ active: hover }"
							v-model="field.aggreement"
							required
						/>-->
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <button
                                @click.prevent="handleAsyncSignUp"
                                class="btn"
                            >
                                Sign Up
                            </button>
                            <button type="reset" value="reset" class="btn ml-1">
                                Reset
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "app",
    data() {
        return {
            hover: false,
            activeEye: false,
            passwordFieldType: "password",
            field: {
                username: null,
                first_name: null,
                password: null,
                confirm_password: null,
                role: "admin",
                //aggreement: null,
            },
            message: null,
            loggedIn: null,
        };
    },

    computed: {},
    methods: {
        ...mapActions("user", ["SIGN_UP_ACTION"]),
        async handleAsyncSignUp() {
            if (this.field.password === this.field.confirm_password) {
                try {
                    let message = await this.SIGN_UP_ACTION({
                        username: this.field.username,
                        password: this.field.password,
                        first_name: this.field.first_name,
                        role: this.field.role,
                    });
                    console.log(message);
                } catch (error) {
                    console.log(error);
                    this.$alert("fail");
                } finally {
                    console.log("finally");
                }
            } else {
                this.field.password = null;
                this.field.confirm_password = null;
                //this.field.aggreement = null
                alert("Your password and confirmation password do not match.");
            }
        },
    },
};
</script>

<style scoped>
.active {
    cursor: pointer;
}
.blueEyeClass {
    color: blue;
}
.eye:hover {
    cursor: pointer;
}
.eye {
    margin-left: -25px;
}
.btn:hover {
    cursor: pointer;
}
</style>
