// katw apo th grammh
<template>
    <div class="accordion">
        <div class="accordion__box__header" @click="openAccordion">
            <p>
                {{
                    accordion.accordionTitle
                        ? accordion.accordionTitle
                        : "Dummy title"
                }}
            </p>
            <p class>
                <i class="fas fa-angle-down"></i>
            </p>
        </div>
        <div v-show="openFlag" class="accordion__box__content">
            <p>
                {{
                    accordion.accordionContent
                        ? accordion.accordionContent
                        : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                }}
            </p>
            Image:
            <img
                alt="Vue logo"
                :src="require(`../assets/${accordion.accordionImage}`)"
            />
            <br />
        </div>
    </div>
</template>

<script>
export default {
    name: "app",
    props: {
        accordion: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            openFlag: false,
        };
    },

    methods: {
        openAccordion: function() {
            this.openFlag = !this.openFlag;
        },
    },
};
</script>

<style lang="scss" scoped>
$base-color: #eee;
.accordion {
    width: 80%;
    background-color: darken($base-color, 40%);

    &__box {
        width: 100%;
        background-color: #eee;
        color: #444;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        // margin: 0.5rem;
        box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.75);
        &__header {
            padding: 0.4rem 1rem;
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            &:hover {
                background-color: darken($base-color, 20%);
            }
        }
        &__content {
            padding: 0.4rem 1rem;
            width: 100%;
            background-color: rgb(255, 255, 255);
        }
    }
}
</style>
