<template>
    <form class id="app" method="post">
        <section class="hero is-primary columns">
            <div class="hero-body mt-4">
                <div class="container">
                    <h1 class="title">Login Form</h1>
                </div>
            </div>
        </section>
        <div class>
            <div class="card">
                <div class="content">
                    <div class="mt-1">
                        <label for="username">Username:</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            v-model="field.username"
                            placeholder="Username"
                            class="ml-1"
                            required
                        />
                    </div>
                    <div class="mt-1">
                        <label for="password">Password:</label>
                        <input
                            :type="passwordFieldType"
                            id="password"
                            v-model="field.password"
                            placeholder="Password"
                            class="ml-1"
                            required
                        />
                        <span
                            class="eye"
                            type="password"
                            @click="blueEyeFunction"
                            :class="{ blueEyeClass: activeEye }"
                        >
                            &#x01f441;
                        </span>
                    </div>
                    <footer class="card-footer mt-2">
                        <div class="card-footer-item">
                            <button
                                @click.prevent="handleAsyncLogin"
                                class="btn"
                            >
                                Submit
                            </button>
                            <button type="reset" value="reset" class="btn">
                                Reset
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "app",
    data() {
        return {
            hover: false,
            activeEye: false,
            passwordFieldType: "password",
            field: {
                username: null,
                password: null,
            },
            message: null,
            loggedIn: null,
        };
    },

    computed: {
        user: function() {
            return this.$store.state.user;
        },
    },
    methods: {
        ...mapActions("user", { loginAction: "LOGIN" }),
        async handleAsyncLogin() {
            try {
                let message = await this.loginAction({
                    username: this.field.username,
                    password: this.field.password,
                });
                console.log(message);
            } catch (error) {
                console.log(error);
                this.$alert("fail");
            } finally {
                console.log("finally");
            }
        },

        blueEyeFunction: function() {
            if (!this.activeEye) {
                this.activeEye = true;
            } else {
                this.activeEye = false;
            }
            this.passwordFieldType =
                this.passwordFieldType === "password" ? "text" : "password";
        },
    },
};
</script>

<style scoped>
.active {
    cursor: pointer;
}
.blueEyeClass {
    color: blue;
}
.eye:hover {
    cursor: pointer;
}
.eye {
    margin-left: -25px;
}
.btn:hover {
    cursor: pointer;
}
</style>
