<template>
    <h1 class="title py-3">You are already logged in {{ user.user }}!!!</h1>
</template>

<script>
export default {
    name: "app",
    data() {
        return {};
    },
    computed: {
        user: function() {
            return this.$store.state.user;
        },
    },
    methods: {},
};
</script>

<style scoped></style>
