<template>
    <div id="app">
        <div id="nav">
            <router-link to="/login" v-if="!is_user_authenticated">Login</router-link>
            <span class="ml-1 mr-1" v-if="!is_user_authenticated">|</span>
            <!-- <router-link to="/AccordionSettings">Accordion Settings</router-link>| -->
            <router-link to="/signup">Sign Up</router-link>
            <span class="ml-1 mr-1">|</span>
            <router-link to="/accordions">Accordion List</router-link>
            <span class="ml-1 mr-1">|</span>
            <router-link to="/cats">Cats</router-link>

            <button
                class="button is-danger is-small ml-2"
                @click="logoutAction"
                v-if="is_user_authenticated"
            >Log Out</button>
            <button class="button is-info is-small ml-2" @click="meAction">Me</button>
        </div>
        <router-view />
    </div>
</template>

<style lang="scss">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
</style>

<script>
//import router from '../src/router'
// import axios from "axios";
import { mapGetters, mapActions } from "vuex";
// import store from "vuex";
export default {
    data() {
        return {
            //isDisabled: true,
        };
    },
    computed: {
        ...mapGetters("user", ["is_user_authenticated"]),
    },

    methods: {
        ...mapActions("user", { logoutAction: "LOGOUT" }),

        // log_out: function() {
        //   this.$alert("Are You Sure?").then(() => {
        //     //this.$store.dispatch('user/SET_USER_ACTION')
        //     this.$store.dispatch("user/LOGOUT");
        //     //router.push({ path: '/login' })
        //   });
        // },
        ...mapActions("user", { meAction: "ME" }),
        me: function() {},
    },
};
</script>
